@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  :root {
    --bg: #f3e5d8
  }
}

table {
  width: 100%;
  border-spacing: 30px;
}

tr {
  border-bottom: 1px solid #ddd;
}

td {
  /* padding-top:20px; */
  padding: 5px;
  /* padding-right:20px;    */
}